<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>会员列表</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="会员列表" [nzLoading]="isLoading" *ngIf="!isAccountDetailModalVisible">
        <st [data]="userList" [columns]="columnsSetting" *ngIf="!isLoading" [loadingDelay]="500"></st>
    </nz-card>

    <nz-card nzTitle="账户明细" [nzLoading]="isLoadingAccountDetail" *ngIf="isAccountDetailModalVisible"
             [nzExtra]="accountDetailAction">
        <nz-timeline *ngIf="accountDetails.length !== 0">
            <nz-timeline-item *ngFor="let det of accountDetails" nzColor="{{det.flag == 1? 'green':'red'}}" [nzDot]="det.flag == 1? enterAccount:chargeOffAccount">{{det['note']}} {{det['amount']}}
                ￥ {{det['datetime']}}</nz-timeline-item>
        </nz-timeline>
        <ng-template #enterAccount>
            <i nz-icon nzType="plus" nzTheme="outline" style="font-size: 16px;"></i>
        </ng-template>
        <ng-template #chargeOffAccount>
            <i nz-icon nzType="minus" nzTheme="outline" style="font-size: 16px;"></i>
        </ng-template>
        <nz-empty *ngIf="accountDetails.length == 0"></nz-empty>
    </nz-card>
    <ng-template #accountDetailAction>
        <button nz-button nzType="primary" (click)="hideAccountDetailModal()"><i
            nz-icon
            nzType="anticon-rollback"></i>返回会员列表
        </button>
    </ng-template>
</div>