<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>系统设置</nz-breadcrumb-item>
            <nz-breadcrumb-item>参数设置</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="参数设置" [nzLoading]="isLoading">
        <sf #sf [mode]="'edit'" [schema]="settingSchema" [formData]="formData" [button]="null" [noColon]="true">
            <button nz-button type="submit" [nzType]="'primary'" (click)="handleSubmit(sf.value)" [disabled]="disableChangeSettingParamsSubmitButton(sf)"
                    [nzLoading]="isSettingParams">保存
            </button>
        </sf>
    </nz-card>
</div>