<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>订单管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>订单列表</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="订单列表" [nzLoading]="isLoadingOrderList" *ngIf="!openChangeAddress">
        <st *ngIf="!isLoadingOrderList" [data]="orderList" [columns]="orderColumnsSetting" [expand]="expand"
            expandRowByClick expandAccordion [loadingDelay]="1000">
            <ng-template #expand let-item let-index="index" let-key="key" let-column="column">
                <div nz-row nzType="flex" nzAlign="middle"
                     *ngFor="let shop of objectKeys(item.goods_list)">
                    <div nz-col [nzSpan]="24">
                        <nz-divider [nzText]="'分销商: ' + item.goods_list[shop][0].shop_name" [nzOrientation]="'left'"></nz-divider>
                    </div>
                    <div nz-col nzSpan="6" [nzOffset]="1">
                        <micro-order-item *ngFor="let order of item.goods_list[shop]" [name]="order.name"
                                          [imgUrl]="order.pic_url" [price]="order.price"
                                          [quantity]="order.quantity"></micro-order-item>
                    </div>
                    <div nz-col nzSpan="6">
                        <div nz-row nzGutter="10" nzType="flex" nzJustify="center" nzAlign="middle">
                            <div nz-col [nzSpan]="24" class="operations">
                                <button nz-button nzType="primary" (click)="OrderDelivery(item.order_id, shop)">发货</button>
                            </div>
                            <div nz-col [nzSpan]="24" class="operations">
                                <button nz-button nzType="primary">打印小票</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </st>
    </nz-card>
    <ng-template #orderExtra>
        <nz-range-picker [nzFormat]="dateFormat"></nz-range-picker>
    </ng-template>
    <nz-card nzTitle="收货地址修改" [nzLoading]="isLoadingOrderList" *ngIf="openChangeAddress">
        <sf #sf [mode]="'edit'" [schema]="changeAddressSchema" [button]="null" [noColon]="true">
            <button nz-button type="button" (click)="hideChangeAddressModal()">关闭</button>
            <button nz-button type="submit" [nzType]="'primary'" (click)="changeAddressSubmit(sf.value)" [disabled]="disableChangeAddressSubmitButton(sf)"
                    [nzLoading]="isChangingAddress">保存
            </button>
        </sf>
    </nz-card>
</div>