<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>订单管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>订单列表</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="订单列表" [nzExtra]="orderExtra">
        <st [data]="orderMockData" [columns]="orderColumnsSetting" [expand]="expand" expandRowByClick expandAccordion>
            <ng-template #expand let-item let-index="index" let-column="column">
                <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
                    <div nz-col nzSpan="6">
                        <micro-order-item></micro-order-item>
                    </div>
                    <div nz-col nzSpan="6">
                        <micro-order-item></micro-order-item>
                    </div>
                    <div nz-col nzSpan="6">
                        <micro-order-item></micro-order-item>
                    </div>
                    <div nz-col nzSpan="6">1</div>
                </div>
            </ng-template>
        </st>
    </nz-card>
    <ng-template #orderExtra>
        <nz-range-picker [nzFormat]="dateFormat"></nz-range-picker>
    </ng-template>
</div>