<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>商品管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>商品管理</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="商品管理" [nzExtra]="goodListOptions" [nzLoading]="isLoadingList"
             *ngIf="!addOrEditProductModalVisible">
        <st *ngIf="!isLoadingList" [data]="productListData" [columns]="columnsSetting"
            (change)="handleCheckBoxSelected($event)" [loadingDelay]="4000"></st>
    </nz-card>
    <ng-template #goodListOptions>
        <button nz-button nzType="primary" (click)="handleCreateOrEditProductModelShow()"
                [disabled]="isLoadingCategoryList"><i nz-icon nzType="plus"></i>添加商品
        </button>
        <button nz-button nzType="primary" [disabled]="checkboxSelectedList.length == 0"
                (click)="handleDownOrUpProduct(getCheckBoxSelectedIDList(),true)">批量上架
        </button>
        <button nz-button nzType="primary" [disabled]="checkboxSelectedList.length == 0"
                (click)="handleDownOrUpProduct(getCheckBoxSelectedIDList(),false)">批量下架
        </button>
        <button nz-button nzType="primary" [disabled]="checkboxSelectedList.length == 0"
                (click)="handleRemoveProduct(getCheckBoxSelectedIDList())"><i nz-icon nzType="delete"></i>批量删除
        </button>
        <button nz-button nzType="primary" [disabled]="checkboxSelectedList.length == 0"
                (click)="handleClickBatchModifyProductStockButton()"><i nz-icon nzType="edit"></i>批量修改库存
        </button>
    </ng-template>

    <!-- 批量修改产品库存弹窗 -->
    <nz-modal
        [(nzVisible)]="batchModifyModalShow"
        [nzTitle]="'库存设置'"
        [nzFooter]="null"
        (nzOnCancel)="handleBatchModifyModalCancel()">
        <sf [mode]="'edit'" [schema]="modifyProductStockSchema"
            (formSubmit)="handleBatchModifyProductStockSubmit($event)"
            [formData]="modifyProductStockFormData" [loading]="modifyProductStockSubmitting"></sf>
    </nz-modal>

    <!-- 添加 / 修改 商品信息弹窗 -->
    <nz-card nzTitle="商品编辑" [nzExtra]="goodEditOptions" *ngIf="addOrEditProductModalVisible">
        <sf #sf *ngIf="!isLoadingList && !isLoadingCategoryList && !isLoadingShopList" [mode]="'edit'"
            [schema]="productSchema"
            [formData]="productFormData" [button]="null" [noColon]="true">

            <button nz-button type="button" (click)="handleCreateOrEditProductModelHide()">关闭</button>
            <button nz-button type="submit" [nzType]="'primary'" (click)="handleCreateOrEditProductSubmit(sf.value)"
                    [disabled]="disableCreateOrEditProductSubmitButton(sf)"
                    [nzLoading]="isAddingOrEditingProduct">保存
            </button>
        </sf>
    </nz-card>
    <ng-template #goodEditOptions>
        <button nz-button nzType="primary" (click)="handleCreateOrEditProductModelHide()"
                [disabled]="isLoadingCategoryList">返回商品列表
        </button>
    </ng-template>
</div>