<div nz-row nzGutter="6" nzType="flex" nzJustify="space-around" nzAlign="middle">
    <div nz-col>
        <img _src="https://dpic.tiankong.com/5n/th/QJ6187965944.jpg?x-oss-process=style/shows_794" [size]="81"/>
    </div>
    <div nz-col class="order-desc">
        <div>
            <strong class="text-purple">【特价】 水果玉米 7.9元/3斤</strong>
        </div>
        <div>
            <small>规格: </small>
            <small class="text-volcano">默认</small>
        </div>
        <div>
            <small>数量: </small>
            <small class="ng-star-inserted text-volcano">2份</small>
        </div>
        <div>
            <small>小计: </small>
            <small class="ng-star-inserted text-volcano">15.80元</small>
        </div>
    </div>
</div>