<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>企业管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>充值管理</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">

    <!-- 充值记录列表 -->
    <nz-card nzTitle="充值列表" [nzExtra]="rechargeAction" [nzLoading]="isLoadingList"
             *ngIf="!isBatchUploadModalVisible">
        <st *ngIf="!isLoadingList" [data]="rechargeListData" [columns]="columnSetting" [loadingDelay]="500"></st>
    </nz-card>
    <ng-template #rechargeAction>
        <div class="ant-form ant-form-inline">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="showBatchUploadModal()"><i nz-icon
                                                                                           nzType="anticon-upload"></i>批量导入
                    </button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="rate">企业名称</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [(ngModel)]="enterpriseSelectedLabel"
                        [nzPlaceHolder]="'企业名称'"
                        [nzShowSearch]="true"
                        [nzDisabled]="enterpriseSelectedLabel === '' || isLoadingList"
                        (ngModelChange)="generateRechargeLogSelectList()"
                        style="width: 100px;">
                        <nz-option *ngFor="let enter of Object(enterpriseList)" [nzLabel]="enterpriseList[enter]" [nzValue]="enter"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="rate">购买批次</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [(ngModel)]="rechargeLogSelectedLabel"
                        [nzPlaceHolder]="'购买批次'"
                        [nzShowSearch]="true"
                        [nzDisabled]="enterpriseSelectedLabel === '' || isLoadingList"
                        (ngModelChange)="loadRechargeList()"
                        style="width: 300px;">
                        <nz-option *ngFor="let log of rechargeLog" [nzLabel]="log['label']" [nzValue]="log['value']"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="handleBatchRecharge()" [disabled]="isLoadingList"><i
                        nz-icon
                        nzType="anticon-pay-circle"></i>批量充值
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </ng-template>

    <nz-card nzTitle="批量导入" *ngIf="isBatchUploadModalVisible" [nzExtra]="batchUploadAction">

        <nz-steps [nzCurrent]="current">
          <nz-step nzTitle="Finished"></nz-step>
          <nz-step nzTitle="In Progress"></nz-step>
          <nz-step nzTitle="Waiting"></nz-step>
        </nz-steps>

    </nz-card>
    <ng-template #batchUploadAction>
        <button nz-button nzType="primary" (click)="hideBatchUploadModal()"><i
            nz-icon
            nzType="anticon-rollback"></i>返回
        </button>
    </ng-template>
</div>