<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>商品管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>商品分类</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="商品分类" [nzExtra]="categoryAction" [nzLoading]="isLoadingList">
        <st *ngIf="!isLoadingList" [data]="categoryListData" [columns]="columnsSetting" [loadingDelay]="2000"></st>
    </nz-card>
    <ng-template #categoryAction>
        <button nz-button nzType="primary" (click)="showAddCategoryModal()"><i nz-icon nzType="plus"></i>添加分类</button>
    </ng-template>
    <nz-modal
        [(nzVisible)]="addOrEditCategoryModalVisible"
        [nzTitle]="'添加分类'"
        [nzFooter]="null"
        (nzOnCancel)="handleCreateCategoryCancel()">
        <sf #sf [mode]="'edit'" [schema]="categorySchema" [formData]="categoryFormData" [button]="null">
            <button nz-button type="button" (click)="handleCreateCategoryCancel()">关闭</button>
            <button nz-button type="submit" [nzType]="'primary'" (click)="handleCreateOrEditCategorySubmit(sf.value)" [disabled]="disableCreateOrEditCategorySubmitButton(sf)"
                    [nzLoading]="isAddingOrEditingCategory">保存
            </button>
        </sf>
    </nz-modal>
</div>