<!--
 * @Author: your name
 * @Date: 2020-08-25 09:57:38
 * @LastEditTime: 2020-08-25 14:38:46
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Micro-Management-Platform\src\app\routes\setting\carriage\carriage.component.html
-->
<page-header [title]="''" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>系统设置</nz-breadcrumb-item>
            <nz-breadcrumb-item>运费设置</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<div class="ant-row">
    <nz-card nzTitle="运费规则一览" [nzExtra]="carriageExtra" [nzLoading]="isLoadingList"
        *ngIf="!isCarriageDetailListVisible && !addCarriageModalVisible">
        <st *ngIf="!isLoadingList" [data]="carriageList" [columns]="carriageColumnSettings" [loadingDelay]="1000"></st>
    </nz-card>
    <ng-template #carriageExtra>
        <button nz-button nzType="primary" (click)="handleAddCarriageShowEvent()"><i nz-icon
                nzType="plus"></i>添加运费规则</button>
    </ng-template>

    <nz-card nzTitle="供应商 - {{carriageRuleListShopName}} - {{carriageRuleListSubTitle}}运费规则"
        [nzExtra]="carriageDetailListExtra" *ngIf="isCarriageDetailListVisible && !editCarriageModalVisible">
        <st [data]="carriageRuleListType == 1? carriageRuleListShopRuleList:carriageRuleListProductRuleList"
            [columns]="carriageRuleListType == 1? carriageRuleListShopRuleColumnSettings:carriageRuleListProductRuleColumnSettings"
            [loadingDelay]="50"></st>
    </nz-card>
    <ng-template #carriageDetailListExtra>
        <button nz-button nzType="primary" (click)="handleHideShopOrProductRuleList()">返回</button>
    </ng-template>

    <!-- 运费规则添加 -->
    <nz-card nzTitle="添加运费规则" [nzExtra]="carriageAddExtra" *ngIf="addCarriageModalVisible">
        <sf [mode]="'edit'" [schema]="addCarriageSchema" [noColon]="true"
            (formSubmit)="handleAddCarriageSubmit($event)" [loading]="isAddingCarriageRule">
        </sf>
    </nz-card>
    <ng-template #carriageAddExtra>
        <button nz-button nzType="primary" (click)="handleAddCarriageHideEvent()">返回</button>
    </ng-template>

    <!-- 运费规则编辑 -->
    <nz-card nzTitle="编辑运费规则" [nzExtra]="carriageEditExtra" *ngIf="editCarriageModalVisible && !addCarriageModalVisible">
        <sf [mode]="'edit'" [schema]="editCarriageSchema" [formData]="editCarriageModalFormData" [noColon]="true"
            (formSubmit)="handleEditSaveCarriageRule($event)" [loading]="isEditingCarriageRule">
        </sf>
    </nz-card>
    <ng-template #carriageEditExtra>
        <button nz-button nzType="primary" (click)="handleHideEditCarriageModal()">返回</button>
    </ng-template>
</div>